:root {
  --e-global-color-primary: #546E51;
  --e-global-color-secondary: #F84651;
  --e-global-color-text: #000000;
  --e-global-color-accent: #1EA8E7;

  --ca-grey: 99, 110, 114;
  --ca-dark: 30, 39, 46;

  --blue: #1EA8E7;
  --light: #ffffff;
  --ca-light: 255, 255, 255;

  --font-size: 16px;
  --line-height: 1.625rem;
  --font-family: "Poppins",
    Sans-serif;
}