:root {


  --ca-grey: 99, 110, 114;
  --ca-dark: 30, 39, 46;

  --blue: #1EA8E7;
  --light: #ffffff;
  --ca-light: 255, 255, 255;

  --font-size: 16px;
  --line-height: 1.625rem;
  --font-family: "Circular Std",
    Sans-serif;
  --font-family-heading: "Sofia Pro",
    Sans-serif;
}