* {
  box-sizing: border-box;
  outline: none;
}

html {
  overflow-x: hidden;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  position: relative;
  font-size: $font-size;
  font-family: $font-family;
  color: $dk;
  line-height: $line-height;
  background: #ffff;
  overflow-wrap: break-word;
  font-kerning: normal;
}

.container {
  width: 100%;
  max-width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  &-out {
    margin: 100px 0;

    @include xl-max {
      margin: 80px 0;
    }

    @include md-max {
      margin: 60px 0;
    }
  }
}

.limay-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &>main {
    flex: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--font-family-heading);

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 71.5px;
  line-height: 78.65px;

  @include fhd-max {
    font-size: 55px;
    line-height: 60.5px;
  }

  @include lg-max {
    font-size: 44px;
    line-height: 48.4px;
  }

  @include md-max {
    font-size: 38.5px;
    line-height: 42.35px;
  }
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5,
.h5 {
  font-size: 26px;
  line-height: 20.8px;
  margin-bottom: 0;

  @include lg-max {
    font-size: 20px;
    line-height: 16.64px;
  }

  @include md-max {
    font-size: 18.2px;
    line-height: 22.75px;
  }
}

h6 {
  font-size: 16px;
}

p {
  margin-bottom: 15px;

  &+:is(h2, h3, h4, h5, h6) {
    margin-bottom: 30px;
  }
}


.hero {
  font-size: 104px;
  letter-spacing: -0.975px;
  line-height: 98.8px;

  @include fhd-max {
    font-size: 80px;
    letter-spacing: -0.75px;
    line-height: 76px;
  }

  @include lg-max {
    font-size: 64px;
    letter-spacing: -0.6px;
    line-height: 60.8px;
  }

  @include md-max {
    font-size: 50.05px;
    letter-spacing: 0.525px;
    line-height: 57.5575px;
  }
}

button,
input[type="submit"],
input[type="button"] {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: $dk;
  color: $lg;

  &:hover {
    color: $dk;
    background-color: $lg;
  }

  &[disabled] {
    cursor: default;
  }
}

a {
  color: $dk;
  outline: 0;
  text-decoration: none;
  transition: color 350ms ease, border 350ms ease;
  line-height: 1.4;

  &:hover,
  &:focus {
    color: $blue;
  }

  // &[href="#"] {
  //   cursor: default !important;
  // }
}

.btn {
  padding: 0 23px;
  font-size: 18px;
  line-height: 1;
  border-radius: 32px;
  cursor: pointer;
  color: $lg;
  border: thin solid $lg;
  background: $blue;
  transition: all 350ms ease;
  height: 42px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: $lg;
    color: $blue;
    border-color: $blue;
  }

  &:focus {
    color: $lg;
  }
}

.p-pr {
  font-size: 26px;
  line-height: 31.2px;

  @include fhd-max {
    font-size: 20px;
    line-height: 24px;
  }

  @include md-max {
    font-size: 17.5px;
    line-height: 21px;
  }
}

.p-bg {
  font-size: 28.6px;
  letter-spacing: -0.975px;
  line-height: 42.9px;

  @include fhd-max {
    font-size: 22px;
    letter-spacing: 0.75px;
    line-height: 33px;
  }

  @include lg-max {
    font-size: 17.6px;
    letter-spacing: -0.6px;
    line-height: 26.4px;
  }

  @include md-max {
    font-size: 17.5px;
  }
}

.p-sm {
  font-size: 18.2px;
  letter-spacing: 2.6px;
  line-height: 20.02px;

  @include fhd-max {
    font-size: 14px;
    line-height: 15.4px;
    letter-spacing: 2px;
  }

  @include lg-max {
    font-size: 11.2px;
    line-height: 12.32px;
  }

  @include md-max {
    font-size: 9.8px;
    line-height: 10.78px;
  }
}

strong,
b {
  font-weight: 600;
  color: $dk;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

figure {
  margin: 1em 0;
}

ul,
ol {
  list-style-position: inside;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0 0 0 18px;
}

audio,
video,
iframe {
  height: auto;
  width: 100%;
  aspect-ratio: 16 / 9;
}

[hidden],
template {
  display: none;
}

pre {
  overflow: auto;
  font-family: monospace;
  font-size: 1em;
}

table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid $dk;
  }

  th {
    font-weight: bold;
    background-color: $dk;
    text-align: left;
  }
}

select {
  border: 1px solid $dk;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  color: $lg;
  margin: 0;

  &:focus {
    border-color: $dk;
    outline: none;
  }
}

textarea {
  width: 100%;
  min-height: 150px;
  border: 1px solid $dk;
  color: $dk;
  outline: 0 none;
  padding: 5px;
}

svg:not(:root) {
  overflow: hidden;
}

i,
svg,
path {
  transition: fill 350ms ease, stoke 350ms ease, color 350ms ease;
}

input {
  width: 100%;
  color: inherit;
  font-family: inherit;
  margin: 0;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:focus,
  &:active {
    color: $dk;
  }

  &::placeholder {
    color: $dk;
  }

  &[disabled] {
    cursor: default;
  }

  &[type="search"]::-webkit-search-cancel-button,
  &[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  &[type="button"],
  &[type="reset"],
  &[type="submit"] {
    appearance: button;
    cursor: pointer;
    border-style: solid;
    border-width: 0;
  }
}

::-moz-selection {
  background: $dk;
  color: $lg;
}

::selection {
  background: $dk;
  color: $lg;
}

::-moz-selection {
  background: $dk;
  color: $lg;
}

:focus {
  outline: 0;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.overflow-full {
  overflow: hidden;
}


*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(222, 222, 222, .75);
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(0, 41, 153), rgb(0, 255, 179));
  border-radius: 10px;
}