@import "../../../../assets/scss/vars";

.limay-banner {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;

  &__img {
    position: absolute;
    inset: 0;

    #lora {
      height: 100% !important;
      width: 100% !important;
      display: flex;
      align-items: center;

      canvas {
        width: 100% !important;
        height: auto !important;
      }
    }
  }

  &__container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
  }

  &__content {
    position: relative;
    width: 50%;
    margin-left: auto;
  }
}